# Python
__pycache__/
*.py[cod]
*$py.class
*.so
*.egg
*.egg-info/
dist/
build/
.eggs/
*.whl

# Virtual environments
.env
.venv
env/
venv/
ENV/

# Jupyter
.ipynb_checkpoints/
*/.ipynb_checkpoints/
*.ipynb_checkpoints

# dotenv
.env
.env.local
.env.*.local

# IDE
.vscode/
.idea/
*.swp
*.swo
.DS_Store

# Distribution / packaging
*.manifest
*.spec

# Test / coverage
.pytest_cache/
.coverage
htmlcov/

# Docs build
docs/_build/
